body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #a93c3c;
  padding: 8px;
}

th {
  background-color: #a42626;
}

button {
  margin-right: 10px;
}

.App {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.steps-container {
  background-color: #8e2e2e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.step {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.step:last-child {
  border-bottom: none;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    from 90deg, /* Start the gradient at 90 degrees */
    #FFD700 0% calc((var(--percentage) * 1%)),
    #E5E5E5 calc((var(--percentage) * 1%)) 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: black;
}

